---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  
</head>
<body style="background-color: rgb(255, 255, 255)">
 <script src="{{site.baseurl}}/js/theme.min.js"></script>
  <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
  </header>

  {{ content }}

<footer>

    <hr>
    <br>
    <div class="links">
        <p><span class="underlined">Course:</span>&nbsp; ATLS 4519
        <br><span class="underlined">Meets:</span>&nbsp; Weds 3-4:45pm in ATLS 229
        <br><span class="underlined">Instructor:</span>&nbsp; Arielle Hein
        <br>
        <br><a href="https://calendar.google.com/calendar/selfsched?sstoken=UUdLc0ZFRlNQWkYyfGRlZmF1bHR8M2ExNGRiNzQ3ZTk1NWE3NDQzMmFjZTZjNWQxYzRlMTA">Appointment Signup</a>
        </p>

        <!-- <p><a href="">Office Hours</a></p> -->
        <!-- <a href="{{site.baseurl}}/contact/">Contact</a> -->
    </div>
    <br>
    <br>
   <!--  <div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/images/theme.svg)"></div> -->
</footer>
{% include analytics.html %}

</body>
</html>
